body {
    background-image: linear-gradient(90deg, #b4f2a0 0, #a1ec9c 16.67%, #89e397 33.33%, #6cd890 50%, #49cd8a 66.67%, #10c488 83.33%, #00bd88 100%);
    font-family: 'Roboto', sans-serif;
  }

.card {
    box-shadow: 0 4px 20px 0 rgba(8, 30, 6, 0.2);
    max-width: 500px;
    margin: 75px auto;
    text-align: center;
  }

.imagen {
    transition: transform .3s;
    width: 95%;
    border-radius: 20px;
    margin-top: 10px;
    border: 3px solid #073B3A
  }
 
.imagen:hover {
    transform: scale(1.3); 
    box-shadow: 10px 10px 10px 10px rgba(8, 8, 8, 0.2);
  }
  
  .titulo {
    color: #073B3A;
    font-size: 20px;
  }
  
  button {
    border: none;
    display: inline-block;
    padding: 12px;
    color: white;
    background-color: #0B6E4F;
    text-align: center;
    cursor: pointer;
    width: 25%;
    font-size: 18px;
    border-radius: 10px;
  }
  
  a {
    text-decoration: none;
    font-size: 24px;
    color: black;
  }

  a:hover {
    color: #0B6E4F;
  }
  
  button:hover  {
    opacity: 0.7;
    background-color: #0B6E4F;
  }
  